[Unit]
Description=wa_monitoring
[Service]
#User=kdg
User=root
#WorkingDirectory=/home/kdg/zeta24/wa-monitoring/standalone
WorkingDirectory=/root/zeta24/wa-monitoring/standalone
#ExecStart=/home/kdg/zeta24/wa-monitoring/standalone/run
ExecStart=/root/zeta24/wa-monitoring/standalone/run
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
