[Unit]
Description=g-connect
[Service]
#User=kdg
User=root
WorkingDirectory=/root/zeta24/g-connect/standalone
ExecStart=/root/zeta24/g-connect/standalone/run-dev
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
