<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>       
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/restapi/*</url-pattern>
    </servlet-mapping>

    <!-- настройка для визуального интерфейса сервера -->
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/errorpages/expired.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorpages/500.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/500.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorpages/403.xhtml</location>
    </error-page>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Error</web-resource-name>
            <description/>
            <url-pattern>/errorpages/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <!--> security-constraint for admin <-->
    <security-constraint>
        <display-name>LoginConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>CollectionAll</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>dummy</role-name>
        </auth-constraint>
    </security-constraint>
    <!--> security-constraint for superuser <-->
    <security-constraint>
        <display-name>WebConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Public</web-resource-name>
            <description/>
            <url-pattern>*.css</url-pattern>
            <url-pattern>*.jpg</url-pattern>
            <url-pattern>*.gif</url-pattern>
            <url-pattern>*.pdf</url-pattern>
            <url-pattern>/javax.faces.resource/*</url-pattern>
            <url-pattern>/restapi/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealm</realm-name>
        <form-login-config>
            <form-login-page>/login/login.xhtml</form-login-page>
            <form-error-page>/login/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Обобщенная роль</description>
        <role-name>dummy</role-name>
    </security-role>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>omega</param-value>
    </context-param>    
</web-app>
