[Unit]
Description=tik-dev-api-DEV
[Service]
User=root
WorkingDirectory=/root/zeta24/tik-dev-api/standalone
ExecStart=/root/zeta24/tik-dev-api/standalone/run-dev
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
