/.idea
*.iml
*.pdb
/querydsl-api/target/
/spring-security-api/target/
/spring-security/target/
/spring-config/target/
/spring-junit/target/
/target/
*.log
*.tmp
*.lst
~*.*
*.jar
/entity-contract-references-api/target/
/entity-contract-references/target/
/entity-contracts/target/
/retail-loan-contracts/target/
/counterparties-api/target/
/counterparties/target/
/tariff-references-api/target/
/bond-schedule-references-api/target/
/bond-schedule-api/target/
/liases-references-api/target/
/documents-references-api/target/
/lias-opers-api/target/
/liases-api/target/
/tariff-core-api/target/
/tariff-references/target/
/tariff-core/target/
/retail-loan-contracts-references-api/target/
/documents-api/target/
/liases/target/
/bond-schedule/target/
/spring-rest-api/target/
/balance-api/target/
/balance-by-api/target/
/balance-by/target/
/balance-kg-api/target/
/balance-kg/target/
/bisc-api/target/
/bisc-core/target/
/retail-documents-templates/target/
/securities-api/target/
/securities/target/
/security-manager-api/target/
/security-manager/target/
/swift-api/target/
/swift-core/target/
/test-api/target/
/test-junit-api/target/
/references-api/target/
/references-core/target/
/attribute-api/target/
/entity-references-api/target/
/listeners-api/target/
/entity-core-api/target/
/references-application-api/target/
/references-application/target/
/entity-references/target/
/entity-marks-api/target/
/entity-marks/target/
/entity-core/target/
/test-core/target/
/webmonitor-core/target/
/spring-orm-api/target/
/spring-jdbc-api/target/
/world-chess/target/
/world-chess-api/target/
/msn-world-api/target/
/msn-world/target/
/world-chess-core/target/
/world-chess-single-games/target/
/world-chess-sand-box/target/
/jwt-api/target/
/world-chess-sandbox/target/
/spring-websockets/target/
/persistence-core/target/
/spring-core/target/
/chess-core/target/
/chess-sandbox/target/
/application-core-api/target/
/spring-core-api/target/
/spring-boot-api/target/
/persistence-api/target/
/rest-api/target/
/spring-rsockets/target/
/services-monitoring/target/
/live-accretions/target/
/exceptions-gate/target/
/spring-core-data/target/
/service-monitoring-api/target/
/security-core/target/
/live-accretions-api/target/
/authorization-server/target/
/services-monitoring-client-starter/target/
/services-monitoring-api/target/
/security-manager-starter/target/
/swift-alliance-server/target/
/swift-alliance-starter/target/
/live-accretions-server/target/
/cache-starter/target/
/chess-analyzer/target/
/chess-fen-analyzer/target/
/msg_monitoring/target/
/wa_monitoring/target/
/spring-kafka-starter/target/
/wa_migration/target/
/spring-docker-starter/target/
/phys-engine/target/
/wa_tracking/target/
/wa-migration/target/
/wa-tracking/target/
/wa-monitoring/target/
/insta-reg/target/
/java-faker-starter/target/
/web-assist/target/
/google-bot/target/
/tkt-assist/target/
/tik-assist/target/
/tik-assist/standalone/config/
/wa-authorization-server/target/
/security-config-starter/target/
/auth-server/target/
/auth-server-api/target/
/rlc-core/target/
/entity-core-starter/target/
/entity-contract-starter/target/
/insta-fs/target/
/insta-img/target/
/insta-api/target/
/insta-crw/target/
/insta-sale/target/
/insta-serv/target/
/proxy-core/target/
/card-pmt/target/
/insta-fs-tmp/target/
/insta-api-starter/target/
/insta-reg-provider-starter/target/
/proxy-provider-starter/target/
/ref-book/target/
/email-spammer/target/
/app-promo/target/
/g-connect/target/
/tik-mobile/target/
/gmail-manager/target/
/gmail-manager/.idea/
/gmail-manager/.mvn/
/gmail-manager/
/g-connect-api/target/
/services-periods-starter/target/
/out-of-service-starter/target/
!g-connect/g-libs/play-store-api.jar
/app-readiness/target/
/app-multi-api/target/
/tik-dev-api/target/
/wa-monitoring/standalone/config/
/auth-server/standalone/config/
/card-pmt/standalone/config/
/app-ad/target/
/app-ad/standalone/config/
/app-notifier/target/
/app-notifier/standalone/config/
/wa-service/target/
/wa-service/standalone/config/
/wa-api/target/
/report-builder-starter/target/
/spring-grpc-starter/target/
/pom.xml.versionsBackup
/app-ad-api/target/
/lb-reg-server/target/
/lb-reg-server/standalone/config/
