/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.11.2016, 12:45:23
    Author     : krukava_j
*/

/**************************************************************************/
/******************************** Reset ***********************************/
/**************************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
html.progress, html.progress * {
    cursor: progress !important;
}
a {
    color: #0e8ac3;
    text-decoration: none;
}
ul {
    list-style: none;
}
*:focus {
    outline: 3px solid #ffaf00;
}
table {
    border-spacing: 0;
}
input[placeholder]::-moz-placeholder, textarea[placeholder]::-moz-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #454545;
}
input[placeholder]::-webkit-input-placeholder, textarea[placeholder]::-webkit-input-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #454545;
}
input[placeholder]::-ms-input-placeholder, textarea[placeholder]::-ms-input-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #454545;
}
input[placeholder]::-o-input-placeholder, textarea[placeholder]::-o-input-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #454545;
}

textarea:focus, 
th.ui-sortable-column.ui-state-focus,
button.ui-button.ui-state-focus, .ui-button.ui-state-focus
button.ui-button.button-border:focus,
button.ui-button.enter.ui-state-focus
.ui-selectbooleanbutton.ui-button.ui-state-focus, 
.ui-selectonebutton.button-date .ui-state-focus.ui-button,
.ui-selectonemenu.ui-state-focus,
.ui-selectbooleanbutton.ui-button.ui-state-default.ui-state-focus,
.ui-state-focus .ui-icon
{
    outline: 3px solid #ffaf00;
} 




/**************************************************************************/
/******************************** Fonts **********************************/
/**************************************************************************/

/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("resources/fonts/HelveticaRegular.eot");
    src: url("resources/fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
        url("resources/fonts/HelveticaRegular.woff") format("woff"),
        url("resources/fonts/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("resources/fonts/HelveticaBold.eot");
    src: url("resources/fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
        url("resources/fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
        url("resources/fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("resources/fonts/HelveticaLight.eot");
    src: url("resources/fonts/HelveticaLight.eot?#iefix")format("embedded-opentype"),
        url("resources/fonts/HelveticaLight.woff") format("woff"),
        url("resources/fonts/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
    font-family: "HelveticaMedium";
    src: url("resources/fonts/HelveticaMedium.eot");
    src: url("resources/fonts/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
        url("resources/fonts/HelveticaMedium.woff") format("woff"),
        url("resources/fonts/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
    font-family: "HelveticaThin";
    src: url("resources/fonts/HelveticaThin.eot");
    src: url("resources/fonts/HelveticaThin.eot?#iefix")format("embedded-opentype"),
        url("resources/fonts/HelveticaThin.woff") format("woff"),
        url("resources/fonts/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/**************************************************************************/
/******************************** End Fonts *******************************/
/**************************************************************************/


html, body {
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    color: #000;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    line-height: 17px;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 768px;
    min-width: 1024px;
    width: 100%;
    padding-top: 84px;
}

body > .wrapper-all {
    height: auto;
    min-height: 100%;
}
.wrapper-all {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin: 0 auto -130px;
    max-width: 100%;
    min-height: 100%;
    min-width: 786px;
    position: relative;
}
.wrapper-content{
    /*margin-top: 84px;*/
    padding: 0;
    position: relative;
}




/**************************************************************************/
/******************************** Autorization*****************************/
/**************************************************************************/

body.page-autorization {
    background-image: url("#{resource['images:start-bg.jpg']}"); 
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding-top: 0px;
}
.wrapper {
    height: auto !important;
    min-height: 100%;
    position: relative;
}
.form-autorization-fon {
    width: 350px; 
    position: absolute; 
    left: 50%; 
    margin-left: -175px; 
    top: 50%; 
    margin-top: -120px;
}
.form-autorization.ui-widget-content {
    background: rgba(0, 0, 0, 0.21);
    border: none;
}
.form-autorization.ui-panel .ui-panel-content {
    padding: 41px;
}
.form-autorization input[type="text"], .form-autorization input[type="password"] {
    font-family: "HelveticaRegular", sans-serif;
    font-size: 18px;
    height: 40px;
    padding: 0;
    text-align: center;
}
button.autorization-button.ui-button {
    background: #3dcb62;
    border: none;
    font-size: 18px;
    height: 43px;
    text-transform: uppercase;
    width: 270px;
}
.bch-logo {
    position: absolute;
    bottom: 25px;
    left: 25px;
}




/**************************************************************************/
/******************************** Autorization step-two********************/
/**************************************************************************/

body.page-autorization .step-two {
    background: rgba(5, 75, 100, 0.74);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 14px 0 rgba(163, 163, 163, 0.14);
    height: 100%;
    position: absolute;
    width: 100%;
}
.step-two-content {
    color: #e9e9e9;
    margin: 0 auto;
    width: 400px;
    padding: 100px 10px 90px;
}
.step-two-title {
    font-size: 25px;
    line-height: 25px;
}
.user-name {
    font-family: "HelveticaRegular", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    color: #e9e9e9;
    line-height: 38px;
}
.user-time {
    font-size: 28px;
    line-height: 28px;
}
.user-place {
    background: url("#{resource['images:place.svg']}") no-repeat;
    font-size: 35px;
    line-height: 35px;
    padding-left: 29px;
}
.user-weather-place {
    color: #e9e9e9;
    font-size: 55px;
    line-height: 55px;
}
button.ui-button.enter-without-station {
    background: none;
    border: none;
    font-family: "Helvetica", sans-serif;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 65px;
    opacity: 0.72;
}
button.ui-button.enter {
    background: url("#{resource['images:btn-enter.svg']}"); 
    border: none;
    color: #616161;
    font-family: "Helvetica", sans-serif;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    height: 52px;
    width: 356px;
}
.bch-logo.opacity {
    opacity: 0.58;
}



.wrapper-footer {
    height: 80px;
    margin-top: -80px;
    min-width: 980px;
    position: relative;
    width: 100%;
}



/**************************************************************************/
/******************************** Header **********************************/
/**************************************************************************/

.header {
    background-image: linear-gradient(267deg, #08576f, #033c57);
    padding: 7px 12px 12px;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28);
    color: #fff;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}
.header-title {
    display: block;
    opacity: 0.5;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 10px;
    font-weight: 300;
}
.header-center {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 0 9px;
    text-align: left;
}
.header-center:last-of-type {
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/**************************************************************************/
/******************************** Template ********************************/
/**************************************************************************/

.booking-icon {
    background: #ebeeef url("#{resource['images:booking-icon.svg']}") no-repeat scroll center center !important; 
    height: 30px;
    width: 31px;
}
.calendar-icon {
    background: #ebeeef url("#{resource['images:calendar-icon.svg']}") no-repeat scroll center center !important; 
    height: 30px;
    width: 31px;
}
.letter-icon {
    background: #ebeeef url("#{resource['images:letter-icon.svg']}") no-repeat scroll center center !important; 
    height: 30px;
    width: 31px;
}

.cafe-icon {
    background: #ebeeef url("#{resource['images:cafe-icon.svg']}") no-repeat scroll center center !important; 
    height: 30px;
    width: 31px;
}
.journal-icon {
    background: #ebeeef url("#{resource['images:journal-icon.svg']}") no-repeat scroll center center !important; 
    height: 30px;
    width: 31px;
}
.library_ic {
    background: #ebeeef url("#{resource['images:library_ic.svg']}") no-repeat scroll center center !important; 
    height: 30px;
    width: 31px;
}
.cash-icon {
    background: #ebeeef url("#{resource['images:cash-icon.png']}") no-repeat scroll center center !important; 
    height: 31px;
    width: 31px;
}
.cash-balance-icon {
    background: #ebeeef url("#{resource['images:cash-balance-icon.svg']}") no-repeat scroll center center !important; 
    height: 31px;
    width: 31px;
}


.ui-tabs-selected.booking-icon  {
    background: #fff url("#{resource['images:booking-icon.svg']}") no-repeat scroll center center !important;
}
.ui-tabs-selected.calendar-icon {
    background: #fff url("#{resource['images:calendar-icon.svg']}") no-repeat scroll center center !important; 
}
.ui-tabs-selected.letter-icon {
    background: #fff url("#{resource['images:letter-icon.svg']}") no-repeat scroll center center !important; 
}

.ui-tabs-selected.journal-icon {
    background: #fff url("#{resource['images:journal-icon.svg']}") no-repeat scroll center center !important; 
}
.ui-tabs-selected.library_ic {
    background: #fff url("#{resource['images:library_ic.svg']}") no-repeat scroll center center !important; 
}

.ui-tabs {
    padding: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}
.ui-tabs-left > .ui-tabs-nav {
    width: 50px;
}
.ui-tabs-left > .ui-tabs-panels {
    float: none;
    margin-left: 70px;
    min-width: 935px;
    width: auto;
}
.ui-tabs-left > .ui-tabs-nav {
    height: 100%;
    border: none;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li {
    border-left: none;
    border: 1px solid #ebeeef;
    box-shadow: 0 2px 4px 0 rgba(19, 93, 119, 0.18);
    width: 50px;
    height: 78px;
    margin: 0;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li a, .ui-tabs.ui-tabs-right > .ui-tabs-nav li a {
    float: none;
    height: 100%;
    width: 100%;
}
.ui-tabs .ui-tabs-nav li a {
    padding: 0;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-state-active {
    border: 1px solid transparent;
    box-shadow: none;
}


button.ui-button.button-border {
    background: transparent;
    border: 1px solid #fff;
    margin-left: 20px;
    padding: 0 10px;
}

.wrapper-header-block {
    background: linear-gradient(252deg, rgba(8, 87, 110, 0.2), rgba(3, 59, 87, 0.2));
    /*margin: 0 21px 0 0;*/
    margin: 0 16px 0 0;
    padding: 21px;
}
.title-header-block {
    font-family: "HelveticaRegular", sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #485e6c;
    text-transform: uppercase;
}.title-header-block-btn {
    font-family: "HelveticaRegular", sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: black;
    text-transform: uppercase;
}
.search-wherefrom {
    background: #b1c5ce;
    display: inline-block;
    position: relative;
    width: 48%;
}

.search-wherefrom::after {
    border-bottom: 40px solid transparent;
    border-left: 20px solid #b1c5ce;
    border-top: 40px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    margin-top: -40px;
    position: absolute;
    right: -20px;
    top: 50%;
    width: 0;
    z-index: 1;
}
.search-whereto {
    background: #126b10;
    display: inline-block;
    position: relative;
    width: 51%;
}
.search-whereto:after {
    border-bottom: 40px solid transparent;
    border-left: 20px solid #126b10;
    border-top: 40px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    margin-top: -40px;
    position: absolute;
    right: -20px;
    top: 50%;
    width: 0;
    z-index: 1;
}
.search-wherefrom input[type='text'], .search-whereto input[type='text'] {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    border: 3px solid #fff;
    color: #454545;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 18px;
    height: 36px;
    margin: 19px 0 19px 20px;
    padding: 0 40px 0 15px;
    text-transform: uppercase;
    width: 70%;
}
.search-whereto input[type="text"] {
    margin-left: 60px;
    width: 61%;
}
.search-wherefrom input[type="text"]:focus, .search-whereto input[type="text"]:focus {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    /*    border: solid 3px #ffaf00;*/
}
.search-wherefrom input[type='text'] {
    background: #fff url("#{resource['images:search-wherefrom.svg']}") no-repeat scroll 98% center;
    margin: 19px 0 19px 20px;
    width: 70%;
}
button.ui-button.search-whereto-button, .search-whereto-button {
    background: url("#{resource['images:search-whereto.svg']}") no-repeat scroll center center;
    border: none;
    height: 25px;
    margin-left: 21px;
    vertical-align: middle;
    width: 24px;
}


.block-lines {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    display: inline-block;
    margin: 0 8px 0 0;
    min-height: 79px;
    width: 100%;
}
.block-lines-content {
    padding: 8px 20px;
}

.block-lines.city {
    background: #fff url("#{resource['images:city-lines.png']}") no-repeat scroll 99% center;
    color: #5e5e5e;
}
.block-lines.aeroport {
    background: #fff url("#{resource['images:aeroport-lines.svg']}") no-repeat scroll 99% center;
    color: #2f7fb0;
}
.block-lines.all {
    background: #126b10 url("#{resource['images:bch-logo.png']}") no-repeat scroll 99% center;
    color: #fff;
}

.block-lines-title {
    font-family: "HelveticaRegular", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    text-transform: uppercase;
}
.block-lines-subtitle {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-top: 5px;
    text-align: left;
    text-transform: uppercase;

}
.block-lines.city .block-lines-subtitle {
    color: #5e5e5e;
}
.block-lines.aeroport .block-lines-subtitle {
    color: #2f7fb0;
}

.way-city {
    background: #126b10;
    color: #fff!important;
    display: inline-block;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.ui-selectonemenu {
    line-height: 48px;
    min-width: 156px;
    padding-right: 0;
    width: 99%;
}
.ui-selectonemenu .ui-inputfield {
    padding: 0 0 0 15px;
}
.ui-selectonemenu .ui-selectonemenu-label {
    width: auto;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
    padding: 0;
    width: 0;
}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 0;
}
.ui-selectonemenu .ui-icon.ui-icon-triangle-1-s {
    background: url("#{resource['images:selectonemenu-icon.svg']}") no-repeat scroll;
    margin-top: -2px;
    position: absolute;
    right: 15px;
    top: 50%;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    padding: 5px;
    border: none!important;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item:hover {
    background: #f4fbff;
    border: none;
}
.ui-state-highlight:hover, .ui-widget-content .ui-state-highlight:hover, .ui-widget-header .ui-state-highlight:hover {
    background: #186ba0;
}


button.ui-button.ui-autocomplete-dropdown {
    background: url("#{resource['images:selectonemenu-icon.svg']}") no-repeat scroll;
    border: none;
    margin-top: -1px;
    position: absolute;
    right: -8px;
    top: 50%;
}



.chosen-lines {
    display: inline-block;
    width: 100%;
    min-height: 97px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
.chosen-lines-edit {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #b9b9b9;
}
.chosen-lines-block {
    padding: 10px;
}
.chosen-lines.region {
    background: rgba(255, 255, 255, 0.9) url("#{resource['images:region-lines.png']}") no-repeat scroll 99% 7px;
}
.chosen-lines.region:hover {
    background: #f4fbff url("#{resource['images:region-lines.png']}") no-repeat scroll 99% 7px;
}
.chosen-lines-wherefrom {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    color: #4b4b4b;
}
.chosen-lines-whereto {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    color: #4b4b4b;
}
.chosen-lines-distance {
    color: #4a4a4a;
    font-size: 12px;
}
.chosen-lines-cost {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 400;
}


/**************************************************************************/
/******************************** autocomplete ****************************/
/**************************************************************************/

.ui-autocomplete {
    display: inline;
}
.ui-autocomplete-panel {
    background: #126b10;
    border: none;
    -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    line-height: 2.33;
    text-transform: uppercase;
}
.ui-autocomplete-panel .ui-widget-content {
    background: transparent;
    color: #fff;
}
.ui-autocomplete-emptyMessage {
    padding: 3px 15px;
}
.ui-autocomplete-query {
    background: rgba(255, 255, 255, 0.15);
}

/**************************************************************************/
/******************************** modal ***********************************/
/**************************************************************************/
.ui-widget-overlay {
    background: #728287;
    opacity: 0.70;
}

.filter {
    filter: blur(10px);
}




/**************************************************************************/
/******************************** select booleanbutton **********************************/
/**************************************************************************/

.ui-button-text-only .ui-button-text {
    line-height: 40px;
    padding: 0;
    text-transform: uppercase;
}
.open-change.ui-selectbooleanbutton.ui-button.ui-state-default, .open-change.ui-selectonebutton .ui-button.ui-state-default, 
.open-change.ui-selectmanybutton .ui-button.ui-state-default {
    background: transparent url("#{resource['images:open.svg']}") no-repeat scroll 16px center !important;
    border: solid 2px #126b10;
    color: #126b10;
    font-size: 16px;
}
.open-change.ui-selectbooleanbutton.ui-button.ui-state-active, .open-change.ui-selectonebutton .ui-button.ui-state-active, 
.open-change.ui-selectmanybutton .ui-button.ui-state-active {
    background: #126b10 url("#{resource['images:open.svg']}") no-repeat scroll 16px center !important;
    border: 2px solid #126b10;
    color: #ffffff;
}

.open-change.ui-selectbooleanbutton.ui-button.ui-state-default.ui-state-focus, 
.open-change.ui-selectonebutton .ui-button.ui-state-default.ui-state-focus, 
.open-change.ui-selectmanybutton .ui-button.ui-state-default.ui-state-focus {
    outline: 3px solid #ffaf00;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
    background: #fff;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    width: 97%;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: 98%;
}




/**************************************************************************/
/******************************** calendar ********************************/
/**************************************************************************/

#ui-datepicker-div {
    /*background: linear-gradient(to bottom, #126b10, rgba(5, 75, 100, 0.47));*/
    background: linear-gradient(to bottom, #126b10, rgba(5, 75, 100, 1));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0 10px!important;
}
.ui-datepicker {
    width: 380px;
}
.ui-datepicker table {
    margin: 0 0 20px!important;
}
.ui-datepicker .ui-datepicker-title {
    color: #fff;
}
.ui-timepicker-div {
    color: #fbfbfb;
}
.ui-datepicker .ui-datepicker-header, .ui-datepicker .ui-timepicker-div > .ui-widget-header {
    background:transparent;
    color: #fff;
    border: none!important;
    text-transform: uppercase;
}
.ui-datepicker .ui-datepicker-header {
    padding: 14px 0;
}

.ui-datepicker td {
    border: none;
}
.ui-datepicker td a, .ui-datepicker td span {
    font-weight: 300!important;
    line-height: 30px; /*44*/
    width: 30px; /*44*/
}
.ui-datepicker td a.ui-state-default.ui-state-hover {
    background: rgba(255, 255, 255, 0.22);
}
.ui-datepicker-today a {
    background: #fff;
    color: #126b10;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 100%;
}



.ui-datepicker-month {
    font-size: 36px;
    font-weight: 100;
    line-height: 36px;
}
.ui-datepicker-year {
    font-size: 22px;
    line-height: 22px;
    margin-left: 10px;
}
.ui-datepicker th {
    background: transparent;
    border: none!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    padding: 0.7em 0;
    text-transform: uppercase;
    font-size: 12px;
}
.ui-datepicker td a.ui-state-default {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.ui-datepicker td.ui-datepicker-today a.ui-state-default {
    background: #fff;
    color: #126b10;
    text-shadow: none;
}


.ui-calendar.ui-trigger-calendar {
    position: relative;
}
.ui-calendar .ui-inputfield, .ui-widget-content .ui-calendar .ui-inputfield, .ui-widget-header .ui-calendar .ui-inputfield {
    background: #126b10 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    /*height: 42px;*/
    height: 38px;
    /*line-height: 42px;*/
    line-height: 38px;
    text-transform: uppercase;
    width: 155px;
}
.ui-calendar .ui-inputfield {
    padding: 0 0 0 50px;
}
.ui-datepicker-trigger {
    background: #126b10 no-repeat scroll center center !important;
    /*url("#{resource['images:calendar-icon.svg']}")*/
    /*    left: 10px;*/
    margin-top: -15px;
    position: absolute;
    top: 50%;
    border: none!important;
}

.ui-calendar .ui-inputfield {
    background: #126b10 url("#{resource['images:calendar-icon-white.svg']}") no-repeat scroll 10px center !important;
}

.ui-calendar input[placeholder]::-moz-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #fff;
}
.ui-calendar input[placeholder]::-webkit-input-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #fff;
}
.ui-calendar input[placeholder]::-ms-input-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #fff;
}
.ui-calendar input[placeholder]::-o-input-placeholder {
    font-family: 'HelveticaLight',sans-serif;
    font-size: 15px;
    color: #fff;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 0.6!important;
}
.ui-datepicker td span, .ui-datepicker td a {
    border: none!important;
    /*margin: 1px 0!important;**********************/
    padding: 0!important;
    text-align: center!important;
    font-size: 16px;
    margin: auto;
}

/**************************************************************************/
/******************************** table journal ****************************/
/**************************************************************************/

.data-table.ui-datatable th.ui-state-default {
    background: #fff;
    color: #126b10;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.data-table.ui-datatable .ui-widget-header {
    border: none;
}

.ui-column-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
    margin: 5px 0 0;
}
.data-table.ui-datatable tbody > th {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #126b10;
}
.data-table.ui-datatable tbody > tr.ui-widget-content {
    border-color: #cdcdcd;
    color: #696969;
    font-size: 12px;
    height: 38px;
}
.data-table.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
    color: #fff;
    background: #126b10!important;
}

.data-table.ui-datatable tbody > tr.ui-widget-content.ui-datatable-even {
    background: #d8d8d8;
} 
.data-table.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
    background: #eeeeee;
}
.data-table.ui-datatable tbody > tr.ui-widget-content.ui-state-hover {
    background: #ffaf00!important;
}

.ui-toolbar.ui-widget-header {
    background: rgba(0, 0, 0, 0) linear-gradient(252deg, rgba(8, 87, 110, 0.2), rgba(3, 59, 87, 0.2)) repeat scroll 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 21px 21px 21px 10px;
    border: none;
    margin-right: 21px;
}
button.ui-button.button-dark-blue {
    background: #126b10;
    border: medium none;
    /*min-height: 35px;*/
    height: 40px;
    /*margin-right: 20px;*/
    padding: 0 10px;
    text-transform: uppercase;
}

button.ui-button.button-dark-blue-2 {
    background: #126b10;
    border: medium none;
    /*min-height: 35px;*/
    height: 40px;
    /*margin-right: 20px;*/
    float: left;
    /*width: 150px;*/
    width: 100%;
    padding: 0 10px;
    text-transform: uppercase;
}

button.ui-button.button-dark-blue-3 {
    background: #126b10;
    border: 4px double white;
    /*min-height: 35px;*/
    /*height: 35px;*/
    height: 40px;
    margin-right: 20px;
    padding: 0 10px;
    text-transform: uppercase;
}

button.ui-button.button-dark-blue-4 {
    background: #126b10;
    border: medium none;
    min-height: 35px;
    margin-right: 20px;
    float: left;
    padding: 0 10px;
    text-transform: uppercase;
}

button.ui-button.button-dark-blue-5 {
    background: #126b10;
    border: medium none;
    min-height: 25px;
    margin-right: 20px;
    float: right;
    padding: 0 10px;
    text-transform: uppercase;
}

.data-table.ui-datatable table {
    min-width: 935px;
}

/**************************************************************************/
/******************************** Search block ****************************/
/**************************************************************************/

.ui-dialog.ui-widget-content {
    background: transparent;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    min-width: 1024px;
    top: 45px !important;
}
.ui-dialog .ui-dialog-titlebar {
    border: none;    
}
.ui-icon.ui-icon-closethick {
    background: transparent url("#{resource['images:close.svg']}") no-repeat scroll center center !important;
    position: absolute;
    left: 0;
    top: 0;
}
.ui-dialog-titlebar-close.ui-state-hover {
    background: none;
    border: none;
    padding: 1px!important;
}

.popular-search .ui-widget-header {
    background: transparent;
    border: medium none !important;
    color: #485e6c;
    font-size: 12px;
    font-weight: normal;
    padding-left: 0;
    text-align: left;
    text-transform: uppercase;
}
.ui-datalist .ui-datalist-empty-message {
    padding: 0;
}
.ui-widget-content .ui-datalist-item a {
    color: #fff;
}
.popular-search .ui-widget-content {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}




.ui-selectonebutton.button-date .ui-button {
    background: #c1ccd0;
    border: none;
    color: #126b10;
    font-size: 18px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    margin-right: 5px;
    padding: 0 10px;
}
.ui-selectonebutton.button-date .ui-state-active.ui-button {
    background: #126b10;
    color: #fff;
}

.date-block {
    background: #D4D8DA;
    padding: 12px 21px;
}
button.ui-button.two-sides {
    background:  transparent;
    border: medium none;
    z-index: 2!important;
    height: 40px;
    width: 42px;
    vertical-align: middle;
}
.two-sides .ui-c {
    background: transparent url("#{resource['images:sides.svg']}") no-repeat scroll center center;
    height: 40px;
    width: 42px;
    vertical-align: middle;
}

.ui-tabs .ui-tabs-nav > li.ui-state-default.tab-place {
    background: #D2D8DA;
    border: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
    height: 42px;    
    line-height: 42px;
    text-align: center;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default.tab-place a {
    color: #126b10;
    font-weight: bold;
    text-transform: uppercase;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-state-active.tab-place {
    background: #afbfc5;
    border: none;
}
.ui-tabs .ui-tabs-nav li.tab-place a {
    float: none;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-state-active.tab-place.after:after {
    border-bottom: 42px solid #afbfc5;
    border-right: 21px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: -21px;
    width: 0;
    z-index: 1;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-state-active.tab-place.before:before {
    content: "";
    position: absolute;
    left: -21px;
    z-index: 1;
    width: 0;
    height: 0;
    border-bottom: 42px solid #afbfc5; 
    border-left: 21px solid transparent;	
}


.ui-widget-content {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
    top: 0;
}
.ui-tabs.ui-tabs-top.searchTabView > .ui-tabs-nav {
    background: #d4d8da;
    padding: 0;
}
.ui-tabs .ui-tabs-nav li {
    margin: 0;
}


.modal-dialog.ui-dialog.ui-widget-content {
    background: #126b10;
}
.modal-dialog.ui-dialog .ui-dialog-titlebar {
    text-align: center;
}
.modal-dialog.ui-dialog .ui-dialog-title {
    color: #fff;
    float: none;
}
.modal-dialog.ui-dialog .ui-tabs,.modal-dialog.ui-dialog .ui-tabs-panels, .modal-dialog.ui-dialog .ui-tabs-panels .ui-widget-content {
    background: transparent;
    color: #fff;
}

.modal-dialog.ui-dialog .ui-inputfield {
    font-weight: normal;
    height: 32px;
    margin: 0;
    outline: medium none;
    padding: 4px;
}
.modal-dialog.ui-dialog .ui-inputnumber.ui-widget {
    font-size: 12px;
}

.modal-dialog-2.ui-dialog.ui-widget-content {
    background: #126b10;
    min-width: 450px !important;
    padding-bottom: 40px;
}
.modal-dialog-2.ui-dialog .ui-dialog-titlebar {
    text-align: center;
}
.modal-dialog-2.ui-dialog .ui-dialog-title {
    color: #fff;
    float: none;
}
.modal-dialog-2.ui-dialog .ui-tabs,.modal-dialog-2.ui-dialog .ui-tabs-panels, .modal-dialog-2.ui-dialog .ui-tabs-panels .ui-widget-content {
    background: transparent;
    color: #fff;
}


/**************************************************************************/
/******************************** table-stations **************************/
/**************************************************************************/


.table-stations.ui-datatable th {
    background: #afbfc5;
    border: medium none;
    color: #454545;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.table-stations .ui-datatable-scrollable-theadclone {
    display: none;
}
.table-stations.ui-datatable .ui-widget-content tr:nth-of-type(odd) {
    background: rgba(238, 243, 243, 0.8);   
}
.table-stations.ui-datatable .ui-widget-content tr:nth-of-type(even) {
    background: rgba(209, 222, 224, 0.8);
}
.table-stations.ui-datatable .ui-widget-content tr.ui-expanded-row-content {
    background: linear-gradient(to top, #ffffff, #dcdcdc);
}
.table-stations.ui-datatable .ui-widget-content tr.ui-state-highlight {
    background: #126b10!important;
    color: #126b10;
    -webkit-box-shadow: 0 4px 6px 0 rgba(11, 50, 64, 0.23);
    -moz-box-shadow: 0 4px 6px 0 rgba(11, 50, 64, 0.23);
    box-shadow: 0 4px 6px 0 rgba(11, 50, 64, 0.23);
}
.table-stations.ui-datatable .ui-widget-content tr {
    height: 40px;
}
.table-stations.ui-datatable .ui-widget-content tr, .table-stations.ui-datatable .ui-widget-content tr td {
    border: none;
}


.ui-grid .ui-grid-row {
    position: relative;
}
.table-data-separator {
    background: rgba(103, 141, 149, 0.8)!important;
    color: #fff;
    bottom: -10px;
    height: 20px;
    position: absolute;
    width: 100%;
}

.except-stations {
    background: rgba(103, 141, 149, 0.8);
    color: #fff;
    font-size: 12px;
    padding: 2px 0 2px 27px;
    text-transform: uppercase;
    width: 100%;
}

.ui-g-3.border-right {
    border-right: 1px solid rgba(5, 62, 90, 0.23);
}

.table-stations.ui-datatable .ui-widget-content .table-route tr {
    background: none;
    color: #126b10;
    height: 20px;
    font-weight: bold;
}
.table-stations.ui-datatable .ui-widget-content .table-route tr .ui-panelgrid-cell {
    padding: 0 10px;
}
.route-circle {
    background: #126b10;
    border-radius: 50px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.route-line {
    background: #126b10;
    height: 4px;
    left: 15px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 95%;
}



/**************************************************************************/
/******************************** block-pay *******************************/
/**************************************************************************/

.block-pay {
    display: inline-block;
    margin-right: 10px;
}
.block-pay:last-of-type {
    margin-right: 0;
}
.link-pay {
    display: inline-block;
    background: linear-gradient(to bottom, #08576f, #033c57);
}
button.ui-button.cash-pay {
    background: transparent url("#{resource['images:cash.svg']}") no-repeat scroll center center;
    border: none;
    display: block;
    height: 60px;
    width: 85px;    
}
button.ui-button.card-pay {
    background: transparent url("#{resource['images:card.svg']}") no-repeat scroll center center;
    border: none;
    display: block;
    height: 60px;
    width: 85px;
}
button.ui-button.paypass-pay {
    background: transparent url("#{resource['images:combo-1.png']}") no-repeat scroll center center;
    border: none;
    display: block;
    height: 60px;
    width: 85px;
}



/**************************************************************************/
/******************************** modal-pay ****************************/
/**************************************************************************/

.ui-dialog.ui-widget-content.modal-pay-2 {
    width: 800px!important;
    min-width: 450px!important;
    height: 680px!important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(21, 154, 202, 0.9);
    box-shadow: 0 2px 70px 0 rgba(5, 75, 100, 0.31);
}

.modal-pay-2 .ui-dialog-titlebar.ui-widget-header{
    display: none;
}

.ui-dialog.ui-widget-content.modal-pay-2 .ui-dialog .ui-dialog-content {
    padding: 0;
}

.ui-dialog.ui-widget-content.modal-pay {
    width: 450px!important;
    min-width: 450px!important;
    /*    height: 655px!important;*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(21, 154, 202, 0.9);
    box-shadow: 0 2px 70px 0 rgba(5, 75, 100, 0.31);
}

.modal-pay .ui-dialog-titlebar.ui-widget-header{
    display: none;
}
.modal-pay-block {
    padding: 10px 25px 25px;
    text-align: center;
    color: #fff;
}
.ui-dialog.ui-widget-content.modal-pay .ui-dialog .ui-dialog-content {
    padding: 0;
}
.modal-pay-title {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
}
.modal-pay-price {
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
}
.modal-pay-subtitle {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 14px;
}
.modal-pay-odd-money {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
}
.modal-label {
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
}
.modal-label-season {
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #485e6c;
    text-transform: uppercase;
}
.modal-input, .ui-inputnumber input.ui-inputfield {
    background: #fff;
    color: #126b10;
    font-size: 35px!important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    height: 50px;
    padding: 0 15px;
    width: 270px;
}

button.ui-button.white-button {
    width: 278px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #126b10;
    border: none;
    margin: 0;
}
button.ui-button.blue-button {
    width: 278px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
}
button.ui-button.transparent-button {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
}
.modal-text-icon {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.modal-pay-success-text {
    background: url("#{resource['images:success-icon.svg']}") no-repeat scroll bottom center;
    padding-bottom: 125px;    
}
.modal-pay-paypass {
    background: url("#{resource['images:paypass-icon.svg']}") no-repeat scroll bottom center;
    padding-bottom: 125px;
}
.modal-pay-card-chip {
    background: url("#{resource['images:card-chip-icon.svg']}") no-repeat scroll bottom center;
    padding-bottom: 125px;
}
.modal-pay-card-stripe {
    background: url("#{resource['images:card-stripe-icon.svg']}") no-repeat scroll bottom center;
    padding-bottom: 125px;
}


/**************************************************************************/
/******************************** Spinner *********************************/
/**************************************************************************/
.ui-spinner-input.ui-inputfield {
    background: transparent;
    border: none;
    font-size: 46px;
    height: 55px;
    line-height: 55px;
    padding: 0 66px 0 33px;
    width: 60px;
}
.ui-spinner .ui-icon-triangle-1-s, .ui-spinner .ui-icon-triangle-1-n {
    background: none;
}
.ui-spinner-button.ui-spinner-up {
    background: #c6cfd2 url("#{resource['images:spinner-up.svg']}") no-repeat scroll center center;
    border: none;
    height: 52px;
    width: 52px;
    right: 0;
    top: 0;
}
.ui-spinner-button.ui-spinner-down {
    background: #c6cfd2 url("#{resource['images:spinner-down.png']}") no-repeat scroll center center;
    border: none;
    height: 52px;
    width: 52px;
    left: 0;
    top: 0;
}
.ui-spinner-input.ui-inputfield.ui-state-focus {
    box-shadow: none;
}



/**************************************************************************/
/******************************** dop block *********************************/
/**************************************************************************/

button.ui-button.dop-percent {
    background: #c6cfd2 url("#{resource['images:percent.svg']}") no-repeat scroll center center;
    border: none;
    height: 52px;
    width: 52px;
}
button.ui-button.dop-baggage {
    background: #c6cfd2 url("#{resource['images:baggage.svg']}") no-repeat scroll center center;
    border: none;
    height: 52px;
    width: 52px;
}


/*.percent-checkbox .ui-chkbox {
    display: none;
}*/
.ui-selectoneradio label {
    margin: 0 0 0 10px;  
}

.overlaypanel-dop .ui-overlaypanel-content {
    background: linear-gradient(to left, rgba(5, 75, 100, 0.38), #126b10);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    color: #fff;
}
.baggage-type {
    width: 100%;
}

.baggage-type tr.ui-widget-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    border: none;
    color: #fff;
}
.ui-panelgrid.baggage-type .ui-panelgrid-cell {
    border: none;
}
.baggage-type-2 {
    width: 90%;
}

.baggage-type-2 tr.ui-widget-content {
    background: #fff;
    border: none;
    color: #000;
}
.ui-panelgrid.baggage-type-2 .ui-panelgrid-cell {
    border: none;
}
.season-addinfo {
    width: 100%;
}

.season-addinfo tr.ui-widget-content {
    background: transparent;
    border: none;
    color: #fff;
}
.ui-panelgrid.season-addinfo .ui-panelgrid-cell {
    border: none;
}
.season-addinfo input[type='text'] {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    border: 3px solid #fff;
    color: #454545;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 18px;
    height: 36px;
    margin: 19px 0 19px 0;
    padding: 0 40px 0 15px;
    text-transform: uppercase;
    width: 70%;
}
.season-addinfo input[type="text"]:focus {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.spinner-small .ui-spinner-input.ui-inputfield {
    background: transparent none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    height: 23px;
    line-height: 23px;
    padding: 0 59px 0 10px;
    width: 60px;
}
.spinner-small .ui-spinner-button.ui-spinner-up, .spinner-small .ui-spinner-button.ui-spinner-down {
    background-size: 30% 50%;
    height: 23px;
    width: 44px;
}

.spinner-std .ui-spinner-input.ui-inputfield {
    background: transparent none repeat scroll 0 0;
    font-size: 20px;
    height: 23px;
    line-height: 23px;
    /*padding: 0 59px 0 10px;*/
    width: 100px;
}
.spinner-std .ui-spinner-button.ui-spinner-up, .spinner-std .ui-spinner-button.ui-spinner-down {
    background-size: 30% 50%;
    height: 23px;
    width: 44px;
}

.total-price {
    font-size: 59px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.71;
    color: #126b10;
}

.button-blue.ui-selectbooleanbutton.ui-button.ui-state-default, .button-blue.ui-selectonebutton .ui-button.ui-state-default, 
.button-blue.ui-selectmanybutton .ui-button.ui-state-default {
    background: linear-gradient(to bottom, #08576f, #033c57);;
    border: none;
    color: #fff;
    font-size: 20px;    
    width: 273.7px;
    height: 60px;
    text-transform: uppercase;
}
.button-blue.ui-selectbooleanbutton.ui-button.ui-state-default.ui-button-text-only .ui-button-text {
    line-height: 60px; 
}





/**************************************************************************/
/******************************** tabs administration *********************/
/**************************************************************************/

.ui-tabs .ui-tabs-nav .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #fff;
}
.tab-admin.ui-tabs.ui-tabs-top > .ui-tabs-nav, .ui-dialog-content .ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0;
}
.tab-admin.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-state-active {
    background: linear-gradient(252deg, rgba(8, 87, 110, 0.2), rgba(3, 59, 87, 0.2)) repeat scroll 0 0;
    border-top: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-bottom: none;
    padding: 5px 25px;
    top: 0;
}
.tab-admin.ui-tabs.ui-tabs-top > .ui-tabs-nav li, .tab-admin.ui-tabs .ui-tabs-nav > li.ui-state-default {
    background: #fff;
    padding: 5px 25px;

}
.tab-admin.ui-tabs.ui-tabs-top > .ui-tabs-nav li a {
    color: #126b10; 
    text-transform: uppercase;
}


/**************************************************************************/
/******************************** Single style ****************************/
/**************************************************************************/

h1 {
    font-family: "HelveticaRegular", sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    text-align: left;
    color: #126b10;
    line-height: 30px;
    text-transform: uppercase;
}

.ui-g-12.padding-none {
    padding: 0;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.clear {
    clear: both;
}
.display-block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.float-top {
    float: top;
}

.h1 {
    font-family: "HelveticaLight", sans-serif;
    font-size: 38px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    color: #e9e9e9;
    line-height: 60px;
}

.line-height-24 {
    line-height: 24px;
}

.margin-top-5 {
    margin-top: 5px;
}
.margin-top-7 {
    margin-top: 7px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-17 {
    margin-top: 17px;
}
.margin-top-22 {
    margin-top: 22px;
}
.margin-top-35 {
    margin-top: 35px;
}
.margin-top-75 {
    margin-top: 75px;
}
.margin-right-18 {
    margin-right: 18px;
}
.margin-left-27 {
    margin-left: 27px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.paddin-right-0 {
    padding-right: 0;
}

.padding-left-0 {
    padding-left: 0;
}
.padding-left-100 {
    padding-left: 100px;
}

.width-270 {
    width: 270px;
}
.width-50-per {
    width: 50%;
}
.width-100-per {
    width: 100%;
}

.weight-normal {
    font-weight: normal;
}

/*стили Телицин Д.А.*/
.ui-dialog.ui-widget-content.blockWithPreloader {
    width: 550px !important;
    min-width: 550px !important;
    height: 140px !important;
    top: 0 !important;
    right: 0;
    bottom: 0;
    left: 0 !important;
    margin: auto; 
    background: rgba(13, 85, 111, 0.55);
}
.ui-dialog.ui-widget-content table table {
    margin-top: 15px;
}
.ui-dialog.ui-widget-content.blockWithPreloader td {
    margin-top: 15px;
    color: #fff;
}
.modal-dialog.ui-dialog .ui-tabs a, .modal-dialog.ui-dialog .ui-tabs-panels a, .modal-dialog.ui-dialog .ui-tabs-panels .ui-widget-content a {
    color: inherit;
}
.ui-dialog.ui-widget-content.dialogBar {
    width: 220px !important;
    min-width: 220px !important;
    height: 19px !important;
    top: 0 !important;
    right: 0;
    bottom: 0;
    left: 0 !important;
    margin: auto; 
}
.margin-right-20 {
    margin-right: 20px;
}
.forInput {
    display: block;
    width: 100%;
    height: 100%   
}
.forInput input {
    width: 100% !important;
    height: 100% !important; 
    box-sizing: border-box;
}
.fullLength input {
    width: 100% !important;
    box-sizing: border-box;
}

input[name = "form:addTariffValue_input"], input[name = "form:addServicePrice_input"] {
    height: 40px!important;
}

input[name = "form:addServiceName"] {
    height: 30px!important;
    width: 262px;
}

.auditing-filter.ui-panelgrid>*>tr,
.auditing-filter.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
/*kliashev_m*/
.ui-fileupload-content {
    display: none;
}

.ui-fileupload-buttonbar {
    padding: 0;
}

span.ui-button .ui-icon {
    display: none;
}

.ui-fileupload .ui-button-text {
    display: inline-block;
    line-height: normal;
    padding: 0;
}

span.ui-button.ui-fileupload-choose {
    background: #126b10;
    border: medium none;
    height: 40px;
    line-height: 40px;
    float: left;
    width: 100%;
    padding: 0 10px;
    text-transform: uppercase;
}

.benefits-toolbar .ui-selectonemenu {
    vertical-align: middle;
    width: 200px;
    line-height: 40px;
}

.benefits-toolbar .ui-outputlabel {
    padding: 0 10px;
}

.settings-tooltip {
    width: 500px;
}

.ui-fileupload.ui-widget {
    display: inline-block;
    margin-right: 20px;
}
.ui-selectonemenu.table-filter {
    line-height: 30px;
    width: 140px;
    min-width: 100px;
}

.dialog-inputnumber, .ui-inputnumber input.ui-inputfield{
    color: #222!important;
    font-size: 1em!important;
}

.ui-panelgrid td, .ui-panelgrid tr{
    border-style: none !important
}

.table-row-red{
    color: #FFFFFF!important;
    background-color: #FF0000!important;

}


.AnchorStyleTh th .ui-column-title {
    display: block;
    height: 35px;
    text-align: center;
}

.AnchorStyleTh input.ui-column-filter {
    width: 91%;
}

.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}