[Unit]
Description=insta-fs-tmp
[Service]
#User=kdg
User=root
#WorkingDirectory=/home/kdg/zeta24/insta-fs-tmp/standalone
WorkingDirectory=/root/zeta24/insta-fs-tmp/standalone
#ExecStart=/home/kdg/zeta24/insta-fs-tmp/standalone/run
ExecStart=/root/zeta24/insta-fs-tmp/standalone/run
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
