[Unit]
Description=proxy-core
[Service]
#User=kdg
User=root
#WorkingDirectory=/home/kdg/zeta24/proxy-core/standalone
WorkingDirectory=/root/zeta24/proxy-core/standalone
#ExecStart=/home/kdg/zeta24/proxy-core/standalone/run
ExecStart=/root/zeta24/proxy-core/standalone/run
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
